<a class="skip-link" href="#main-content">Skip to main content</a>
<app-preloader />
<app-cursor-follower />
<app-scroll-progress />
<app-navbar />
<main id="main-content" tabindex="-1" [@pageLoad]>
  <div class="route-container" [@routeAnimation]="getRouteAnimationData(outlet)">
    <router-outlet #outlet="outlet" />
  </div>
</main>
<app-footer />
<app-back-to-top />
<app-toast />

<div class="bg-gradient-orb bg-orb-1"></div>
<div class="bg-gradient-orb bg-orb-2"></div>
<div class="bg-gradient-orb bg-orb-3"></div>
